.App {
  display: 'flex';
  background-color: #F07167;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: left;
  color: white;
}

#addNewCard{
  color: #CCD1D1
}

div.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

div.right{
  text-align: right;
  align-items: right;
  justify-content: right;
}